if ! sops -d secrets.yaml >/dev/null 2>&1; then
	echo "Failed to decrypt secrets.yaml."
	exit 1
fi
TF_VAR_rancher_server_admin_password=$(sops -d secrets.yaml | yq '.rancher_pw')
export TF_VAR_rancher_server_admin_password
